.headerNavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logoImage {
  width: 35px;
  height: 35px;
}

.navbarMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: #E2E2E2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #8E8D89;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
}

.navbarMenu:hover {
  background-color: #d4d4d4;
}

.navbarMenu span {
  color: black;
  font-weight: 500;
}

.avatarImage {
  border-radius: 50%;
}
