.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
  height: auto;
  margin-bottom: 100px;
  gap: 50px;
}

#profile-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#profile-header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.profileTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#profile-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 50px;
}

#profile-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile-about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.aboutText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 80px;
}

.aboutText span:first-child {
  font-weight: bold;
}

.detailsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-about-interests-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.tag {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #8e8d89;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 50px;
}

#profile-form-aboutme {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border-title {
  border-bottom: #8e8d89 1px solid;
  margin-bottom: 30px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 30px;
}

#profile-form-buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 30px;
  padding-right: 20px;
}

form textarea,
input {
  border-radius: 15px;
  border: none;
  padding: 5px;
  height: 30px;
  width: 100%;
  background-color: #f3efef;
}

form textarea {
  height: 100px;
}

/*responsive*/

@media screen and (max-width: 780px) {
  #profile-about {
    display: flex;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
  }
  #profile-about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .aboutText {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #about-me {
    width: 80%;
  }
  #about-me p {
    text-align: start;
    width: 100%;
  }

  #profile-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 50px;
  }
  #profile-header-buttons {
    display: none;
  }
}

/*animaciones*/
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
