.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
  height: auto;
  margin-bottom: 100px;
}


#profile-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#profile-header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.profileTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


#profile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

#profile-about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: fit-content;
}

.aboutText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 0 15px;
  margin-top: 20px;
}

.aboutText span:first-child {
  font-weight: bold;
}

.detailsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-about-interests-tags {
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tag {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #8e8d89;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

#profile-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
}

#profile-form-aboutme{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.border-title{
    border-bottom: #8e8d89 1px solid;
    margin-bottom: 30px;
}

.form-field{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 30px;
}

#profile-form-buttons{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 30px;
    padding-right: 20px;
}

form textarea, input{
    border-radius: 15px;
    border: none;
    padding: 5px;
    height: 30px;
    width: 100%;
    background-color: #f3efef;
}

form textarea{
    height: 100px;
}