:root {
  background: rgb(204,215,252);
  background: linear-gradient(90deg, rgba(204,215,252,1) 0%, rgba(214,220,240,1) 35%, rgba(226,226,226,1) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
