:root {
  background: rgb(204, 215, 252);
  background: linear-gradient(
    90deg,
    rgba(204, 215, 252, 1) 0%,
    rgba(214, 220, 240, 1) 35%,
    rgba(226, 226, 226, 1) 100%
  );
  font-family:Verdana, Geneva, Tahoma, sans-serif
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.logoCompanyImage {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
