:root {
  background: rgb(204, 216, 253);
  background: linear-gradient(
    90deg,
    rgba(204, 216, 253, 1) 0%,
    rgba(213, 220, 242, 1) 35%,
    rgba(225, 226, 226, 1) 100%
  );
  font-family: "lato", sans-serif;
  color: black;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.logoCompanyImage {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.weight-titles-700 {
  font-weight: 700;
}

.weight-titles-200 {
  font-weight: 200;
}

.text-separate {
  text-wrap: wrap;
  word-wrap: break-word;
  text-justify: inter-word;
  white-space: normal;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span{
  text-decoration: none;
}